{% extends 'base.html.twig' %}

{% block title %}Hello ProduitsController!
{% endblock %}

{% block body %}
	<div class="containerForm">
		<div class="rowForm">
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
		</div>
		<div class="rowForm">
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
		</div>
		<div class="rowForm">
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
		</div>
		<div class="rowForm">
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
		</div>
		<div class="rowForm">
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
		</div>
		<div class="rowForm">
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
		</div>
		<div class="rowForm">
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
		</div>
		<div class="rowForm">
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
		</div>
		<div class="rowForm">
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
		</div>
		<div class="rowForm">
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
		</div>
		<div class="rowForm">
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
		</div>
		<div class="rowForm">
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
		</div>
		<div class="rowForm">
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
		</div>
		<div class="rowForm">
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
		</div>
		<div class="rowForm">
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
		</div>
		<div class="rowForm">
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
		</div>
		<div class="rowForm">
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
		</div>
		<div class="rowForm">
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
		</div>
		<div class="rowForm">
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
			<div class="form"></div>
		</div>
	</div>
	<div class="Accueil-produit">
				<div class="card-detail">
					<div class="content">
						<h1 class="mt-6">{{detail.nom}}</h1>
						<br>
						<p class="mt-2">{{detail.description}}</p>
						<p>Réference : {{detail.Numero.ReferenceNumero}}</p>
						<p>Catégorie : {{detail.categorie.NomCategorie}}</p>
						{% for details in detail  %}
						<p>Distributeur : {{details.nom_distributeur.NomDistributeur}}</p>
						{% endfor %}
						<br>
						<p>Prix :
							{{detail.prix}}
							€<span class="ml-6">Disponible le :<time datetime="2016-1-1" class="has-text-wite">{{ detail.disponible ? detail.disponible|date ('Y-m-d') : '' }}</time>
							</span>
						</p>
						{% if (app.user) %}
							<div class="card-footer">
							<button class="a-btn-2" style="background: rgba(255, 255, 255, 0.1);"><a href="{{path('app_produit_edit',{'id':detail.id})}}">Éditer le produit</a></button>
							{{include('produits/delete_form.html.twig')}}
							</div>

						{% endif %}
					</div>
				</div>

				<div class="card-detail-image">
					<div class="content">
						<div class="picture">
							<p class="has-text-black has-text-centered">Borne Arcade</p>
							<div class="borne">
								<img src="/image/{{detail.photo}}" alt="">
								<div class="icon-arcade">
									<i class="fa fa-arrows mr-2" aria-hidden="true"></i>
									<i class="fa fa-circle icon-1 mr-2" aria-hidden="true"></i>
									<i class="fa fa-circle icon-2 mr-2" aria-hidden="true"></i>
									<i class="fa fa-circle icon-3 mr-2" aria-hidden="true"></i>
									<hr>
								</div>

							</div>
						</div>
					</div>
				</div>
			
		

	</div>
<style>
body{
height : 120vh;
}
footer{

position: absolute;
overflow-y:hidden;
width : 100%;
height : 50vh;

}
</style>

{% endblock %}
